html {
    --color-principal : #3c7bef;
    --color-secundario: #ffffff;
    --color-detalles: #000000;
    --color-footer: #414141;
    --color-destacado: #f4b761;
    --tamaño-header-normal: 97px;
    --tamaño-slim-header: 60px;
    --tamaño-header: 97px;
    --std-width: 1080px;

    font-family: Helvetica;
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: var(--tamaño-header);
}

a {
    color: unset;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    position: relative;
    background-color: var(--color-secundario);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#fader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000085;
    z-index: 100000000;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

#side_pannel{
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: -45vw;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    z-index: 100000001;
    background-color: var(--color-secundario);
    color:var(--color-detalles);
    height: 100vh;
    width: 40vw;
    transition: left 0.2s ease-in-out;
}
#side_pannel>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--tamaño-header);
    transition: height 0.4s ease;
}
#side_pannel>div>img{
    height: 40%;
    margin-left: 5px;
}

#side_pannel>.header_button {
    font-size: 30px;
    margin-bottom: 10px;
}

#side_pannel>.separador-h {
    margin-top: 0;
}

#side_pannel>.header_button:hover{
    color:var(--color-principal);
}

.sp_visible {
    left: 0px !important;
}

.button_close_side_pannel{
    height: 60px;
    width: fit-content;
}

.header, .sub_header{
    background-color: var(--color-principal);
    color:var(--color-secundario);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--tamaño-header);
    transition: height 0.4s ease;

    font-size: 12.8px;
}

.header {
    z-index: 9999999;
    position: sticky;
    top: 0;
    left: 0;
}

.sub_header {
    background-color: var(--color-detalles);
    height: 30px;
}

.header>div, .sub_header>div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--std-width);
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 5px 15px;
}

.header_section, .sub_header_section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 100%;
}

.sub_header_button {
    height: 100%;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sub_header_button>img {
    margin-right: 4px;
}

.separador-v {
    height: 70%;
    background-color: var(--color-secundario);
    opacity: 0.6;
    width: 1px;
    margin: 0 10px;
}

.svg_icon {
    height: 100%;
    width: auto;
    fill: var(--color-detalles); /*esto en realidad no esta haciendo nada, solo afecta a las svg armadas con <svg> <path /> </svg>*/
    stroke: none;
}

.header_logo {
    height: 90%;
    width: auto;
}

.header_button {
    font-size: 17px;
    margin: 0 8px;
}

.cotizar_header_button{
    font-size: 17px;
    color: var(--color-detalles);
    margin: 0 8px;
    padding: 7px 9px;
    background-color: var(--color-destacado);
    border-radius: 10px;
}

.hover_opcacity_change:hover{
    opacity: 0.8;
}

.header_stick_anim {
    position: fixed;
    top: calc(-1*var(--tamaño-header));
    left: 0;
}

.header_stick_anim_finish_text {
    top: 0;
}

.big {
    height: 2000px;
    width: 5px;
    background-color: #000000;
    margin-left: 20px;
}

.slim_header {
    font-size: 8px;
}


.slim_header .header_button{
    font-size: 15px;
    transition: font-size 0.5s ease;
}

.std_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.std_container > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: var(--std-width);
    height: 100%;
}

.banner {
    height: 650px;

    background-size: auto 100%;
    background-position: center center;

}

.banner > div {
    padding: 80px 80px;

    display: flex;
    flex-direction: column;
}

.titulo_banner {
    display: inline-block;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1.2ch;

    margin-bottom: 30px;
}



.std_same_line{
    display:flex;
    flex-direction: row;
}

.boton_banner {
    width: fit-content;
    font-size: 30px;
    background-color: var(--color-destacado);
    border-radius: 20px;
    padding: 15px 20px;
    transition: background-color 1s ease;
}

.boton_banner:hover{
    background-color: #fec21e;
}

.presentacion_productos {
    height: fit-content;
    margin-bottom: 50px;
}

.presentacion_productos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.pr_pr_titulo {
    font-weight: bolder;
    font-size: 60px;
    color:var(--color-principal);
    margin: 60px 0;
    text-align: center;
}

.grilla_categorias {
    box-sizing: border-box;
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5%;
}
.grilla_categorias>a {
    position:relative;
    box-sizing: border-box;
    width:33%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*imagen producto*/
.grilla_categorias>a>img{
    aspect-ratio: 9/8;
    width: 100%;
    border-radius: 5px;
}
/*nombre producto*/
.grilla_categorias>a>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    color: var(--color-detalles);
    top: 65%;
    left: 50%;
    height:30%;
    width:100%;
    background-color: color-mix(in srgb, var(--color-secundario), transparent 50%);
    color: var(--color-detalles);
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.grilla_categorias>a:hover>div {
    background-color: color-mix(in srgb, var(--color-principal), transparent 20%);
    color: var(--color-secundario);
    z-index: 1000;
}
.grilla_categorias>a>div>.nombre_categoria{
    font-weight: 700;
    font-size: 20px;
    color: inherit;
}
.grilla_categorias>a>div>.n_cat{
    font-size: 15px;
    color: inherit;
}
.nombre_categoria{
    color: var(--color-detalles);
    font-weight: bold;
}

.loading_display{
    z-index: 10000000;
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: #cfcfcfe1;
    transition: opacity 0.5s ease-in-out;
}

.loading_display>img{
    position: absolute;
    top:50vh;
    left:50vw;
    width:100px;
    height: auto;
    transform: translateX(-50%);
}

.loading_display>div{
    position: absolute;
    display: flex;
    top:50vh;
    left:50vw;
    transform: translateX(-50%);
    font-size: large;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.button_side_pannel{
    height:40%;
    margin-left: 10px;
}

.img_cutter{
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_cutter>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.prod_container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.img_prod_container{
    height: 313px;
    width: 420px;
}

.prod_intro{
    display:flex;
    flex-direction: column;
    
    margin-top: 30px;
    margin-left: 20px;
    flex: 1 1 auto;
}

.producto_nom_categoria { /*display de categoria de producto*/
    opacity: 0.5;
    color: var(--color-detalles);
    margin-bottom: 20px;
}

.producto_nom_prod {
    font-size: 30px;
    color: var(--color-principal);
    margin-bottom: 20px;
    max-width: 100%;
}

.prod_intro_subtitulo{
    font-size: 20px;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;

}

.producto_precio {
    margin-left: 10px;
    font-size: 20px;
}

#more_info_prod {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}
#descripcion_prod {
    font-size: large;
}

.separador-h{
    height: 2px;
    margin: 10px 0;
    width:100%;
    background-color: var(--color-detalles);
    opacity: 0.2;
}

.grilla_productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    flex-grow: 1 ;
}

.grilla_productos>a{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:200px;
    height:fit-content;
    padding: 5px;
    align-items: center;
}
.grilla_productos>a>.img_cutter{
    height: 180px;
    width: 180px;
}
.grilla_productos>a>span{
    margin-top: 5px;
    font-size: medium;
    color: var(--color-detalles);
}
.categoria_path {
    opacity: 0.75;
    font-size: large;
    color: var(--color-detalles);
    margin: 30px 0;
}

.categoria_page_content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.lista_categorias{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.lista_categorias>span{
    margin: 5px 0;
    font-size: large;
    font-weight: bold;
}

.lista_categorias>div{
    padding: 5px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.lista_categorias>div>*{
    padding-left: 5px;
}
.lista_categorias>div>.separador-h{
    margin: 1px 0;
}
.lista_categorias>div>.clickable{
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.clickable{ /*hace que el mouse cambie al estado "puedo clickear" (la manito)*/
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.carrito_top_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px; 
}
.titulo{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-detalles);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-destacado);
    width: fit-content;
    margin-right: 20px;
}
#completar_compra{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-detalles);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-destacado);
    border: 2px dotted var(--color-detalles);
    width: fit-content;
}
.ammount_selector{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-secundario);
    border: 2px solid var(--color-destacado);
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    
    width: fit-content;
}
.ammount_selector>img{
    height: 90%;
    aspect-ratio: 1;
}
.ammount_selector>span{
    margin-right: 10px;
}
.ammount_selector>input{
    background-color: inherit;
    border:none;
    width: 40px;
    text-align: center;
    font-size: inherit;
    text-align: end;
}
.prod_carrito{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: var(--color-destacado);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prod_carrito>.prod_info{
    display: flex;
    flex-direction: row;
    
}
.prod_carrito>.prod_info>.img_cutter{
    height: 72px;
    width: 72px;
    border: 5px solid var(--color-secundario);
    background-color: var(--color-secundario);
}
.prod_carrito>.prod_info>*{
    margin-right: 20px;
}
.prod_carrito>.prod_precio_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.prod_carrito>.prod_precio_container>.producto_precio {
    margin-left: 0;
    margin-top: 10px;
}
.nombre_prod{
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    max-width: 40ch;
}
.display_none{
    display: none !important;
}
.precio{
    padding: 7px 10px;
    background-color: var(--color-secundario);
    border-radius: 10px;
    border: 5px double #000000;
    height: fit-content;
    font-size: 20px;
    white-space: nowrap;
}
.prod_carrito>div>.ammount_selector{
    height: 40px;
    border: 5px solid var(--color-secundario);
    border-radius: 10px;
}
.total_container{
    height: 40px;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-destacado);
    border-radius: 10px;
}
.total_container>span {
    color: var(--color-secundario);
    margin-right: 15px;
    font-weight: bold;
}
#no_hay_productos{
    display: none;
    flex-direction: row;
    width:100%;
    height:200px;
    background-color: color-mix(in srgb, var(--color-detalles) 30%, transparent 99%);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.presentacion_nosotros{
    white-space: pre-line;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#nosotros{
    padding-bottom: 610px;
}
#contacto .logo_oscuro_img {
    margin-top: 20px;
    height: 80px;
    width: auto;
    object-fit: contain;
}

footer {
    position: absolute;
    top:100%;
    transform: translateY(-100%);
    height: 310px;
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-footer);
}
footer>div{
    display: flex;
    flex-direction: row !important;
}
footer>div>div {
    color: var(--color-secundario);
    box-sizing: border-box;
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
footer>div>div>* {
    color: inherit
}
footer>div>div>a {
    font-size: 17px;
    height: 25px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer>div>div>a>img {
    margin-right: 5px;
}

@media (max-width: 1080px) {

    html{
        --tamaño-header-normal: 130px;
        --tamaño-slim-header: 90px;
        --tamaño-header: 130px;
    }
    .cotizar_header_button{
        font-size: 30px;
        padding: 15px;
    }
    /*
        estilos especificos de celular
    */
    .pc_only {
        display: none !important;
    }
    .titulo_banner {
        font-size: 45px;
    }
    .grilla_categorias{
        padding: 0;
    }
    .grilla_categorias>a{
        padding:10px;
    }
    .grilla_categorias>a>div{
        width: 100%;
    }
    .cotizar_header_button {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .header_logo{
        position:absolute;
        top:5px;
        left:50%;
        transform: translateX(-50%);
    }

    #more_info_prod{
        margin-top: 60px;
    }

    .std_container>div{
        padding: 0 20px;
    }

    .img_prod_container{
        margin-right: 0;
        width:60%;
        height: auto;
        aspect-ratio: 1;
    }
    .banner > div {
        padding: 80px 50px;
    }
    .titulo_banner{
        font-size: 60px;
    }
    .lista_categorias{
        width: fit-content;
        font-size: 30px;
    }
    .lista_categorias>span{
        font-size: 40px;
    }
    .grilla_productos>a{
        width:270px;
    }
    .grilla_productos>a>span{
        font-size: 25px;
    }
    .grilla_productos>a>.img_cutter{
        aspect-ratio: 1;
        width: 250px;
        height: 250px;
    }
    .categoria_path{
        font-size: 25px;
        margin: 50px 0 35px 10px;
    }
    .producto_nom_prod{
        font-size: 30px;
    }
    .producto_nom_categoria{
        font-size: 20px;
        margin-left: 10px;
    }
    .prod_intro_subtitulo{
        font-size: 35px;
    }
    .producto_precio{
        font-size: 30px;
    }
    .ammount_selector{
        border: 5px solid var(--color-destacado);
        height:80px;
        font-size: 30px;
    }
    .ammount_selector>input{
        width: 60px;
    }
    #descripcion_prod {
        font-size: 30px;
    }
    .titulo {
        font-size: 50px;
    }
    #completar_compra{
        font-size: 50px;
        border: 5px dotted var(--color-detalles);
    }
    .prod_carrito .ammount_selector{
        height: 40px;
        font-size: 25px;
    }
    .prod_carrito .ammount_selector input {
        width: 50px;
    }

    .nombre_categoria {
        font-size: 35px !important;
    }
    .n_cat {
        display: none;
    }
    .grilla_categorias>a>div{
        background-color: color-mix(in srgb, var(--color-secundario), transparent 20%);
    }
    .total_container{
        font-size: 30px;
        height: 50px;
    }
    .total_container .precio{
        font-size: 30px;
    }
}

@media (min-width: 1081px) {
    /*
        estilos especificos de pc
    */

    .mobile_only {
        display: none !important;
    }
}